<h1>Products List</h1>
<a href="<%= new_product_path %>" class="btn btn-primary">
  <span class="icon text-white-50">
    <i class="fa fa-flag"></i>  
  </span>
  <span class="text">Create Product</>
</a>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Reference</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.reference %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to "Details", product_path(product), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>